{% extends 'ebutikk/nettbutikk/hoved.html' %}
{% load static %}
{% block content %}

	<div class="row">
		
		{% for produkt in produkter %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{ produkt.bilde.url }}">
			<div class="box-element product">

				<h6><strong>{{ produkt.navn }}</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn oppdater" data-produkt = '{{ produkt.id }}' data-handling = 'adder'>Legg til Handlevogn</button>
				<a class="btn btn-outline-success" href="#">Visning</a>
				<h4 style="display: inline-block; "><strong>{{ produkt.pris }} kr</strong></h4>
    
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}
